body {
    background-image: url(/mountains.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 24px;  
    display: flex;
    justify-content: center;
}

div.interface {
    background-color: rgba(255, 255, 255, 0.4);
}

.image {
    display: flex;
    justify-content: center;
}

img {
    width: 5vw;
    border: 2px solid green;
    border-radius: 50%;
    padding: 10px;
    margin-top: 1em;
}

form {
    padding: 0 10px
}

input {
    width: 26vw;
    border-radius: 10px;
    margin-top: 1.5em;
    font-size: 18px;
    padding: 20px 20px;
}

button {
    width: 28.5vw;
    border: green;
    margin-top: 0.6em;
    padding: 5px 0;
    border-radius: 10px;
    background-color: green;
    color: rgba(255, 255, 255, 0.5);
    font-size: 44px;
}

p a {
    text-decoration: none;
    color: white;
}